.main{
  width: 800px;
  margin:40px auto;
}
.home{
  width: 100%;
  margin:40px auto;
}
h2{
  text-align: center;
  color: #283768;
  font-weight: 800;
  margin-bottom: 40px;
}
.card{
  margin-bottom: 10px;
}
.card-header{
  color: white;
  font-weight: 700;
  background: #444;
}

.mt{
  margin-right: 10px;
}

form{
  margin-bottom: 60px;
}
form button{
  width: 100%;
}

.navbar-brand{
  font-size: 28px;
  font-weight: 900;
  color: green;
}

.navbar{
  height: 80px;
}
.nav-link:hover{
  font-weight: 600;
  color: green;
}

.d-flex{
  margin-top: 60px;
}


.img img{
  width: 100%;
}
